body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.padre,
.madre {
    display: flex;
    width: 500px;
    height: 500px;
    border: solid 2px cornflowerblue;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hijo {
    display: flex;
    width: 150px;
    height: 150px;
    border: darkcyan 2px solid;
    justify-content: space-around;
    align-items: center;
}

.hijo div {
    border: 2px solid black;
    width: 40px;
    height: 40px;
}

.h2 {
    flex-direction: column;
}